.app-custom {
}

a {
  text-decoration: none !important;
  color: inherit;
}

.ellipsis-text {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
