$APP_RADIUS_NORMAL: 10px;
$APP_ERROR_COLOR: #e74c3c;
$APP_SUCCESS_COLOR: #2ecc71;

$DARK_THEME_BG_COLOR: #2f4858;
$DARK_THEME_TEXT_COLOR: #d2ece3;
$DARK_THEME_INPUT_COLOR: #63789d;
$DARK_THEME_BUTTON_COLOR: #1f3738;
$DARK_THEME_ITEM_COLOR: #abcac6;
$DARK_THEME_LINK_COLOR: #d5e8ff;

$LIGHT_THEME_BG_COLOR: #d2ece3;
$LIGHT_THEME_TEXT_COLOR: #2f4858;
$LIGHT_THEME_INPUT_COLOR: #abcac6;
$LIGHT_THEME_BUTTON_COLOR: #547c8c;
$LIGHT_THEME_ITEM_COLOR: #67878e;
$LIGHT_THEME__COLOR: #88a8a9;
$LIGHT_THEME_LINK_COLOR: #524fc3;